
<div class="jumbotron text-center">
	<div class="panel panel-default">
		<h2> {{title}} </h2>
	</div>
	<div class="panel panel-default">
		<section ng-controller="stateController">
			<ul class="col-xs-12 col-sm-6 col-md-3 col-lg-3 span12">
				<h3> State List </h3>
				<li ng-repeat="state in states" ng-class="{'highlighted': state.highlightClass && selectedState == state}" >
					<span > <a ng-click="stateDetail(state)" ng-dblclick="toggleCLick(state)"  >{{state.state}}</a></span>
				</li>
			</ul>	
		  	<div ng-show="selectedState && isStateselected" id="stateDetail" class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
			    <h3>{{selectedState.state}}</h3>

			    <div ng-class="{'alert-success': matchPopulation == true,'alert-warning': matchPopulation == false}" > 
			    	<label  > Population </label> <span>{{selectedState.population}}</span>
			    </div class="alert">
			    <div > 
			    	<label  > No. of Counties </label> <span>{{selectedState.counties}}</span>
			    </div>
			    <section id="counties">
			    	<table width="100%">
			    		<thead>
			    			<tr>
			    				<th> County Name </th>
			    				<th> Population </th>
			    			</tr>
			    		</thead>
			    		<tbody>
			    			<tr ng-repeat="county in selectedState.countydetails" >
			    				<td> {{county.county}} </td>
			    				<td align="right" > {{county.population | number}}</td>
		    
			    			</tr>
			    			<tr>
			    				<td  style="text-align:right" > <strong> Sum </strong></td>
			    				<td align="right" ng-class="{'alert-success': matchPopulation == true,'alert-warning': matchPopulation == false}" >{{addPopulation()}}</td>	
			    			</tr>	
			    		</tbody>
			    	</table>
			    <section>					
			</div>
			<ul class="col-xs-12 col-sm-6 col-md-3 col-lg-3 span12">
				<p><input type="text" ng-model="search" placeholder="Search state on 2nd list" class="form-control"></p>
				<li ng-repeat="state in states  | filter:search" ng-click="stateDetail(state)"  ng-class="{'highlighted': state.highlightClass && selectedState == state}">
					<span > <a ng-click="stateDetail(state)" ng-dblclick="toggleCLick(state)"  >{{state.state}}</a></span>
				</li>
			</ul>

			<div class="clearfix"> &nbsp; </div>

		</section>
	</div>	
</div>

